#red{
    color: red;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#orange{
    color:orange;
}
#yellow{
    color: yellow;
    
}
.font-style{
  font-weight: normal;
}
img{
    height: 200px;
    width: 200px;
}
html{
    background-color: cadetblue;
    width: 300px;
}